<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body>
    <div class="timo-detail-page">
        <div class="timo-detail-title">基本信息</div>
        <table class="layui-table timo-detail-table">
            <colgroup>
                <col width="100px"><col>
                <col width="100px"><col>
            </colgroup>
            <tbody>
                <tr>
                    <th>主键ID</th>
                    <td th:text="${statTopics.id}"></td>
                    <th>统计专题名称</th>
                    <td th:text="${statTopics.topics}"></td>
                </tr>
                <tr>
                    <th>子专题名称</th>
                    <td th:text="${statTopics.subTopics}"></td>
                    <th>涉及省份</th>
                    <td th:text="${statTopics.province}"></td>
                </tr>
                <tr>
                    <th>涉及区县</th>
                    <td th:text="${statTopics.county}" colspan="3"></td>
                </tr>
                <tr>
                    <th>创建者</th>
                    <td th:text="${statTopics.createBy?.nickname}"></td>
                    <th>更新者</th>
                    <td th:text="${statTopics.updateBy?.nickname}"></td>
                </tr>
                <tr>
                    <th>创建时间</th>
                    <td th:text="${#dates.format(statTopics.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <th>更新时间</th>
                    <td th:text="${#dates.format(statTopics.updateDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>