<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo">
<head th:replace="/common/template :: header(~{::title},~{::link},~{::style})">
</head>
<body class="timo-layout-page">
    <div class="layui-card">
        <div class="layui-card-header timo-card-header">
            <span><i class="fa fa-bars"></i> 整合前保护地管理</span>
            <i class="layui-icon layui-icon-refresh refresh-btn"></i>
        </div>
        <div class="layui-card-body">
            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-block timo-search-status">
                            <select class="timo-search-select" name="status" mo:dict="SEARCH_STATUS" mo-selected="${param.status}"></select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="name" th:value="${param.name}" placeholder="请输入名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">级别</label>
                        <div class="layui-input-block">
                            <input type="text" name="level" th:value="${param.level}" placeholder="请输入级别" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">类型</label>
                        <div class="layui-input-block">
                            <input type="text" name="category" th:value="${param.category}" placeholder="请输入类型" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">晋升省级时间（年）</label>
                        <div class="layui-input-block">
                            <input type="text" name="promotionProvincialLevelTime" th:value="${param.promotionProvincialLevelTime}" placeholder="请输入晋升省级时间（年）" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">晋升国家级时间（年）</label>
                        <div class="layui-input-block">
                            <input type="text" name="promotionNationalLevelTime" th:value="${param.promotionNationalLevelTime}" placeholder="请输入晋升国家级时间（年）" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">所在省</label>
                        <div class="layui-input-block">
                            <input type="text" name="province" th:value="${param.province}" placeholder="请输入所在省" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">所在市</label>
                        <div class="layui-input-block">
                            <input type="text" name="city" th:value="${param.city}" placeholder="请输入所在市" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">所在县</label>
                        <div class="layui-input-block">
                            <input type="text" name="county" th:value="${param.county}" placeholder="请输入所在县" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">主要保护对象</label>
                        <div class="layui-input-block">
                            <input type="text" name="protectedObjects" th:value="${param.protectedObjects}" placeholder="请输入主要保护对象" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否独立管理机构</label>
                        <div class="layui-input-block">
                            <input type="text" name="isIndependentInstitution" th:value="${param.isIndependentInstitution}" placeholder="请输入是否独立管理机构" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">管理机构级别</label>
                        <div class="layui-input-block">
                            <input type="text" name="institutionLevel" th:value="${param.institutionLevel}" placeholder="请输入管理机构级别" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">管理机构性质</label>
                        <div class="layui-input-block">
                            <input type="text" name="institutionNature" th:value="${param.institutionNature}" placeholder="请输入管理机构性质" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">管理机构名称</label>
                        <div class="layui-input-block">
                            <input type="text" name="institutionName" th:value="${param.institutionName}" placeholder="请输入管理机构名称" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">管理机构隶属</label>
                        <div class="layui-input-block">
                            <input type="text" name="institutionAffiliation" th:value="${param.institutionAffiliation}" placeholder="请输入管理机构隶属" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否有总规</label>
                        <div class="layui-input-block">
                            <input type="text" name="isMasterPlan" th:value="${param.isMasterPlan}" placeholder="请输入是否有总规" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">整合情况</label>
                        <div class="layui-input-block">
                            <input type="text" name="integration" th:value="${param.integration}" placeholder="请输入整合情况" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn timo-search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup" data-title="导出保护地" th:attr="data-url=@{/protectArea/protectAreaBefore/excel/export}" data-size="auto">
                        <i class="layui-icon layui-icon-table"></i> 导出</button>
                    <button class="layui-btn open-popup" data-title="导入保护地" th:attr="data-url=@{/protectArea/protectAreaBefore/upload}" data-size="auto">
                        <i class="layui-icon layui-icon-file"></i> 导入</button>
                    <button class="layui-btn open-popup" data-title="添加保护地" th:attr="data-url=@{/protectArea/protectAreaBefore/add}" data-size="auto">
                        <i class="fa fa-plus"></i> 添加</button>
                    <button class="layui-btn open-popup" data-title="下载excel模版" th:attr="data-url=@{/protectArea/protectAreaBefore/excel/template}" data-size="auto">
                        <i class="layui-icon layui-icon-template-1"></i> excel模版</button>
                    <div class="btn-group">
                        <button class="layui-btn">操作<span class="caret"></span></button>
                        <dl class="layui-nav-child layui-anim layui-anim-upbit">
                            <dd><a class="ajax-status" th:href="@{/protectArea/protectAreaBefore/status/ok}">启用</a></dd>
                            <dd><a class="ajax-status" th:href="@{/protectArea/protectAreaBefore/status/freezed}">冻结</a></dd>
                            <dd><a class="ajax-status" th:href="@{/protectArea/protectAreaBefore/status/delete}">删除</a></dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="timo-table-wrap">
                <table class="layui-table timo-table">
                    <thead>
                    <tr>
                        <th class="timo-table-checkbox">
                            <label class="timo-checkbox"><input type="checkbox">
                                <i class="layui-icon layui-icon-ok"></i></label>
                        </th>
                        <th>主键ID</th>
                        <th>名称</th>
                        <th>级别</th>
                        <th>类型</th>
                        <th>现状面积（公顷）</th>
                        <th>所在省</th>
                        <th>所在市</th>
                        <th>所在县</th>
                        <th>主要保护对象</th>
                        <th>整合情况</th>
                        <th>更新时间</th>
                        <th>数据状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item:${list}">
                        <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                            <i class="layui-icon layui-icon-ok"></i></label></td>
                        <td th:text="${item.id}">主键ID</td>
                        <td th:text="${item.name}">名称</td>
                        <td th:text="${item.level}">级别</td>
                        <td th:text="${item.category}">类型</td>
                        <td th:text="${item.currentArea}">现状面积（公顷）</td>
                        <td th:text="${item.province}">所在省</td>
                        <td th:text="${item.city}">所在市</td>
                        <td th:text="${item.county}">所在县</td>
                        <td th:text="${item.protectedObjects}">主要保护对象</td>
                        <td th:text="${item.integration}">整合情况</td>
                        <td th:text="${#dates.format(item.updateDate, 'yyyy-MM-dd HH:mm:ss')}">更新时间</td>
                        <td th:text="${#dicts.dataStatus(item.status)}">数据状态</td>
                        <td>
                            <a class="open-popup" data-title="编辑保护地" th:attr="data-url=@{'/protectArea/protectAreaBefore/edit/'+${item.id}}" data-size="auto" href="#">编辑</a>
                            <a class="open-popup" data-title="详细信息" th:attr="data-url=@{'/protectArea/protectAreaBefore/detail/'+${item.id}}" data-size="800,600" href="#">详细</a>
                            <a class="ajax-get" data-msg="您是否确认删除" th:href="@{/protectArea/protectAreaBefore/status/delete(ids=${item.id})}">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:replace="/common/fragment :: page"></div>
        </div>
    </div>
<script th:replace="/common/template :: script"></script>
</body>
</html>